# Ignore all .o files in src directory
/src/*.o

# Ignore specific binary files in assets/data
/assets/data/arqbin.dat
/assets/data/historico.dat
/assets/data/*.dat

# Ignore executable file
trunfo.exe